body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#mensaje {
    display: none;
    font-size: 40px;
    color: #28a745;
}
/* Archivo estilos.css */

#mensaje {
    animation: aparecer 2s ease-out;
}
p{
    text-align: center;
}
@keyframes aparecer {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


#manoBien {
    font-size: 48px;
    margin-top: 20px;
}

#manoBien {
    animation: aparecer 2s ease-out;
}
